<!--
    Create new collection form
    This template is used to create a new collection.
    It displays a form with a single field for the collection name.
    The user can enter the name and submit the form to create the collection.
-->

{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Utwórz nową kolekcję</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class='form-control') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>
{% endblock %}
