<!--
    Create new user form
    This template is used to create a new user.
    It displays a form with fields for the username, password, and an option to set the user as an admin.
    The admin can enter the username, password, and select the "Is Admin" checkbox to create a new user.
-->

{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Utwórz nowego użytkownika</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
        </div>
        <div class="form-check">
            {{ form.is_admin(class='form-check-input') }}
            {{ form.is_admin.label(class='form-check-label') }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}
