{% extends 'wallpaper_grid.html' %}
{% block title %}Kolekcja: {{ collection.name }}{% endblock %}
{% block heading %}
<h2>Kolekcja: {{ collection.name }}</h2>
<p>Autor: {{ collection.user.username }}</p>

{% if collection.user_id == current_user.id %}
    <form action="{{ url_for('user.delete_collection', collection_id=collection.id) }}" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tę kolekcję?');">
        <button type="submit" class="btn btn-danger">Usuń kolekcję</button>
    </form>
{% endif %}
{% endblock %}

{% block search_and_filters %}

{{ super() }}
{% endblock %}