{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-md mt-4">
    {% block heading %}{% endblock %}
    <div class="card-columns">
        {% for wallpaper in wallpapers %}
        <div class="card" data-toggle="modal" data-wallpaper-id="{{ wallpaper.id }}">
            <img src="{{ url_for('static', filename=wallpaper.path[7:]) }}" loading="lazy" class="card-img-top rounded" alt="{{ wallpaper.name }}">
            <div class="card-body p-2">
                <p class="card-title font-weight-bold mb-1 text-truncate">{{ wallpaper.name }}</p>
                <p class="card-text small text-muted text-truncate">
                    {% for tag in wallpaper.tags %}
                        #{{ tag.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}

        <!-- Universal Modal -->
        <div class="modal fade" id="wallpaperModal" tabindex="-1" role="dialog" aria-labelledby="wallpaperModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Zawartość zostanie załadowana dynamicznie -->
                <div class="modal-body p-0" id="modalContent">
                <!-- Dynamic content goes here -->
                </div>
            </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.card').on('click', function() {
            var wallpaperId = $(this).data('wallpaper-id');
            $('#modalContent').html(''); // Wyczyść poprzednią zawartość
            $.ajax({
                url: '{{ url_for("user.load_wallpaper_modal") }}',
                method: 'GET',
                data: { wallpaper_id: wallpaperId },
                success: function(response) {
                    $('#modalContent').html(response);
                    $('#wallpaperModal').modal('show');
                }
            });
        });
    });
</script>
{% endblock %}
