<div class="row no-gutters">
    <!-- Left Side: Image -->
    <div class="col-md-6">
      <img src="{{ url_for('static', filename=wallpaper.path[7:]) }}" loading="lazy" class="img-fluid h-100 w-100" alt="{{ wallpaper.name }}" style="object-fit: cover;">
    </div>
    <!-- Right Side: Details -->
    <div class="col-md-6">
      <div class="p-4 d-flex flex-column h-100">
        <!-- Close Button -->
        <div class="text-right">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Details -->
        <h3 class="wallpaper-title">{{ wallpaper.name }}</h3>
        <p class="text-muted">Dodane przez: {{ wallpaper.owner.username }}</p>
        <p class="text-muted">{{ wallpaper.device.name }}</p>
        <p><strong>Tagi:</strong>
          {% for tag in wallpaper.tags %}
            #{{ tag.name }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p><strong>Kolory:</strong>
          {% for color in wallpaper.colors %}
            {{ color.name }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p><strong>Rozdzielczość:</strong> {{ wallpaper.resolution }}</p>
        <!-- Buttons -->
        <div class="mt-auto">
          <a href="{{ url_for('user.download_wallpaper', wallpaper_id=wallpaper.id) }}" class="btn btn-primary mb-2">Pobierz</a>
          <a href="{{ url_for('user.add_to_collection', wallpaper_id=wallpaper.id) }}" class="btn btn-secondary mb-2">Dodaj do kolekcji</a>

          {% if current_user.id == wallpaper.user_id %}
            <a href="{{ url_for('user.edit_wallpaper', wallpaper_id=wallpaper.id) }}" class="btn btn-warning mb-2">Edytuj</a>
            <form action="{{ url_for('user.delete_wallpaper', wallpaper_id=wallpaper.id) }}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tę tapetę?');" class="btn btn-danger mb-2">Usuń</button>
            </form>
          {% endif %}

          
          {% if collection and wallpaper in collection.wallpapers %}
            <form action="{{ url_for('user.remove_wallpaper_from_collection', collection_id=collection.id, wallpaper_id=wallpaper.id) }}" method="post">
                {{ csrf_token() }}
                  <button type="submit" class="btn btn-danger">Usuń z kolekcji '{{ collection.name }}'</button>
            </form>
          {% endif %}

        </div>
      </div>
    </div>
</div>
